h1 {
  color: blueviolet;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-display: block;
  text-align: center;
  text-transform: capitalize;
}
p {
  color: red;
}
